<% provide(:title, "Sign in") %>

<div class="jumbotron" align="center">
  <h1>Awesome Tron 2D</h1>
  <p>Sign in to access your account and join the battle!</p>
</div>

<div class="control-group" align="center">
  <div class="controls">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      <br>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

      <br>
      <%= f.submit "Sign in", class: "btn btn-primary btn-lg" %>
    <% end %>

    <br><br>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>


<br>

<%= debug(params) if Rails.env.development? %>
