<h1>Players</h1>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Nickname</th>
    <th>Wins</th>
    <th>Battles</th>
    <th>Score</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.nickname, user %></td>
    <td><%= user.wins %></td>
    <td><%= user.battles %></td>
    <td><%= user.score %></td>
  </tr>
<% end %>
</table>

<br/>
