<h1>Game rooms</h1>

<p>Select playable room, <%= current_user.nickname %> </p>
<p>Signed? <%= signed_in? %></p>
<%= button_to 'New Room', new_room_path,
	class: "btn btn-custom", :method => 'get' %>

<table>
	<tr>
		<td>ID</td>
		<td>Description</td>
		<td>Playing / Max players</td>
		<td>Map</td>
	</tr>
</table>
<table class="table table-hover">
	<% @rooms.each do |r| %>
		<tr>
			<td><p><%= r["room_id"] %></p></td>
			<td><%= link_to r["description"], room_path(r["room_id"]) %></td>
			<td><%= r["players"].length %> / <%= r["max"] %></td>
			<td><%= r["map_id"] %></td>
		</tr>
	<% end %>
</table>
