<h1>Game rooms</h1>

<script type="text/JavaScript">
<!--
  function timedRefresh(timeoutPeriod) {
      setTimeout("location.reload(true);",timeoutPeriod);
  }
//   -->
</script>

<body onload="JavaScript:timedRefresh(5000);">


<p>Select room, <%= current_user.nickname %> </p>
<%= button_to 'New Room', new_room_path,
  class: "btn btn-default", :method => 'get' %>
<br><br>

<table class="table table-hover table table-condensed">
	<tr>
		<td>ID</td>
		<td>Description</td>
		<td>Playing / Max players</td>
		<td>Map</td>
	</tr>
	<% @rooms.each do |r| %>
		<tr>
			<td><p><%= r["room_id"] %></p></td>
			<td><%= link_to r["description"], room_path(r["room_id"]) %></td>
			<td><%= r["players"].length %> / <%= r["max"] %></td>
			<td><%= r["map_id"] %></td>
		</tr>
	<% end %>
</table>
